.body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
}

.right{
    width: 40vw;
    max-height: 80vh;
    /* padding-top: 5vh; */
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3,1fr);
}

.left{
    width: 50vw;
    height: 80vh;
    padding-top: 10vh;
    text-align: center;
    padding-left: 5vw;
    box-sizing: border-box;
}

.heading{
    font-size: 5rem;
    color: green;
}

.subHeading{
    font-size: 3rem;
    color: white;
    text-align: left;
    margin-top: 4vh;
}

.signUp{
    color:white;
    background:green;
    border-radius:12px;
    position:absolute;
    bottom:1vh;
    right:3vw;
    border: none;
    padding: 12px;
}

 .error{
    color: red;
    font-size: 12px;
}